nav {
  background-color: #f0ead6; /* Egg shell white background */
  padding: 15px 20px; /* Added padding */
  border-radius: 10px; /* Border radius */
  width: 97%; /* Set width to 100% */
  margin: 20px auto 0; /* Added top margin and center the navbar */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for layout */
}

li {
  margin-right: 60px; /* Added margin between each link */
}

a {
  text-decoration: none;
  color: #000; /* Black color for default link */
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition for color and background-color */
}

a:hover {
  color: #87ceeb; /* Light blue color on hover */
  background-color: #fff; /* White background on hover */
}
nav ul li a {
  display: inline;
  margin-right: 200px;
  color: black;
}
